/* Header */

header{
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f5f5f5; /* couleur de fond grise */
    font-family: 'Raleway';
}

.navbro {
    display: flex;
    justify-content: space-between; /* Aligne les éléments avec un espace égal entre eux */
    align-items: center; /* Centre verticalement les éléments */
}

/* styles.css */
.svgbro {
    display: block;
    float: right;
    margin-right: 100px;
}

.svglogo {
    float: left; /* Aligne le logo à gauche */
    margin-left: 160px;
}

.rass{
    display: flex;
    justify-content: center;
}

.bold-title{
    display: flex;
    justify-content: center;
    color: rgb(198, 0, 248);
    font-weight: bold ;
}

.desc{
    display: flex;
    justify-content: center;
    color: aqua;
}

nav{
    background-color: aqua;
}
nav ul li{
    display: inline-block;
}

ul li a{
    list-style: none;
    color: #2c257a;
}

a{
    text-decoration: none;
}

.svgbro text a{
    display: flexbox;
    display: inline-block;
}

/* Body */

