/* Header */

body {
    background-color: #F5F5F5; /* couleur de fond grise */
}

svg{
    display: flex;
    justify-content: center; /* ou flex-end selon vos besoins */
}

.title{
    display: flex;
    justify-content: center;
    color: rgb(198, 0, 248);

}

.desc{
    display: flex;
    justify-content: center;
    color: aqua;
}

nav{
    background-color: aqua;
}
nav ul li{
    display: inline-block;
}

ul li a{
    list-style: none;
    color: #8987A1;
}

a{
    text-decoration: none;
}

.h{
    font-weight: bold;
}

svg text a{
    display: flexbox;
    display: inline-block;
}

/* Body */

